* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  font-size: 28px;
  background-color: #a3e635;
  padding: 10px;
}

.parent {
  /* display: flex;
  flex-direction: column;
  align-items: center; */

  width: 80%;
  margin: 0 auto;
  padding: 50px;
  background-color: #ddd;
  text-align: center;
}

.child {
  background-color: #333;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
  /* background-color: #333; */
  color: white;
}

.child h2 {
  color: #333;
}

.container {
  background-color: #438e96;
  padding: 20px;
  /* height: 500px; */
  /* width: 80%; */
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.parent h1 {
  border: 3px solid #333;
  padding: 10px;
}

/* .parent h2 {
  border-bottom: 2px solid #333;
} */

.child h1 {
  border: 3px solid white;
  padding: 10px;
}

/* .child h2 {
  border-bottom: 2px solid white;
} */

.item {
  color: white;
  font-size: 1.5rem;
  padding: 20px;
  /* height: 100px; */
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-1 {
  background-color: red;
}
.item-2 {
  background-color: green;
}

.item-3 {
  background-color: blue;
}

.item-4 {
  background-color: yellow;
}

.item-5 {
  background-color: orange;
}

.item-6 {
  background-color: #dadee2;
}

.item-7 {
  background-color: #333;
}

.item-8 {
  background-color: #fff;
}

.item-9 {
  background-color: pink;
}

.item-10 {
  background-color: violet;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.main-center {
  justify-content: center;
}

.main-start {
  justify-content: flex-start;
}

.main-end {
  justify-content: flex-end;
}

.main-space-between {
  justify-content: space-between;
}

.main-space-around {
  justify-content: space-around;
}

.main-space-evenly {
  justify-content: space-evenly;
}

.cross-start {
  align-items: start;
}

.cross-end {
  align-items: end;
}

.cross-center {
  align-items: center;
}

.cross-space-between {
  align-items: space-between;
}

.cross-space-evenly {
  align-items: space-evenly;
}

.cross-space-around {
  align-items: space-around;
}

.cross-baseline {
  align-items: baseline;
}

.h-500 {
  height: 500px;
}
.h-800 {
  height: 800px;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.flex {
  display: flex;
}

.h-100 {
  height: 100px;
}

.h-200 {
  height: 200px;
}

.cross-content-center {
  align-content: center;
}

.cross-content-start {
  align-content: start;
}

.cross-content-end {
  align-content: end;
}

.cross-content-space-between {
  align-content: space-between;
}

.cross-content-space-around {
  align-content: space-around;
}

.cross-content-space-evenly {
  align-content: space-evenly;
}

.cross-self-center {
  align-self: center;
}

.cross-self-start {
  align-self: start;
}
.cross-self-end {
  align-self: end;
}

.o-1 {
  order: 1;
}

.o-2 {
  order: 2;
}

.o-3 {
  order: 3;
}

.o-4 {
  order: 4;
}

.o-5 {
  order: 5;
}

.grow {
  flex-grow: 1;
}

.grow-1 {
  flex-grow: 1;
}

.grow-2 {
  flex-grow: 2;
}

.shrink {
  flex-shrink: 0;
}

.flex-basis-300 {
  flex-basis: 300px;
}
